<div class="jumbotron">
    <h1>Superpowers Weather API</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Check out the recording of my Jumping into Windows Internet of Things development by using the Universal Windows Platform webinar</p>
        <p><a class="btn btn-default" href="http://blog.chrisbriggsy.com/Dev-superpowers-Jumping-into-windows-internet-of-things/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Want to add SQLite to your Windows IoT app?</h2>
        <p>Why use Sqlite? Small memory footprint, easy to use and reliable!</p>
        <p><a class="btn btn-default" href="http://blog.chrisbriggsy.com/Using-SQLITE-in-Windows-10-IoT-Core-Insider-Preview/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to Consume SignalR in Windows 10 IoT!</h2>
        <p>Especially in IoT, we never want to have our devices constantly polling for updates, rather we would greatly prefer to have the server push updates.</p>
        <p><a class="btn btn-default" href="http://blog.chrisbriggsy.com/SignalR-Win10-IoT/">Learn more &raquo;</a></p>
    </div>
</div>
